<h1>Listing webcomics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webcomics.each do |webcomic| %>
  <tr>
    <td><%= webcomic.title %></td>
    <td><%= webcomic.description %></td>
    <td><%= link_to 'Show', webcomic %></td>
    <td><%= link_to 'Edit', edit_webcomic_path(webcomic) %></td>
    <td><%= link_to 'Destroy', webcomic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webcomic', new_webcomic_path %>
